
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');



body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.Too-close{
  margin-top: 2rem;
}
